@page "/pickuporders"

<PageTitle>Pickup Orders</PageTitle>

@using ARCerp.Data.Order
@inject MockupDatasets mockupDatasets

<PageHeading Heading="Select orders to pick" />


<style>
    .nav-tabs.flex-column .nav-item.show .nav-link, .nav-tabs.flex-column .nav-link.active {
        border-color: #dee2e6 transparent #dee2e6 #dee2e6;
        border-left: 5px solid #0d6efd;
    }
</style>


<div class="row">
    <div class="col-5 col-sm-3">
        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">All Pick Lists</a>
            <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">General Pick Lists</a>
            <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Orders To Pick</a>
            <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Orders To Pack</a>
            <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-webservers" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Orders To Ship</a>
            <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-finance" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Sub-Contracting</a>
        </div>
    </div>
    <div class="col-7 col-sm-9">
        <div class="tab-content" id="vert-tabs-tabContent">
            <div class="tab-pane text-left fade active show" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                <button type="button" class="btn btn-block btn-primary" style="width: 170px;float: left;margin-right: 5px;">Create Shipment</button>
                <button type="button" class="btn btn-block btn-outline-secondary" style="width: 170px;float: left;margin-right: 5px;margin-top: 0;">Print pick list</button>
                <button type="button" class="btn btn-block btn-outline-secondary" style="width: 170px;float: left;margin-right: 5px;margin-top: 0;">Close</button>
                <table class="table table-bordered" style="margin-top:15px;">
                    <thead>
                        <tr>
                            <th style="width: 10px">Street</th>
                            <th>City</th>
                            <th>State</th>
                            <th>ZipCode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in addresses)
                        {
                            <tr>
                                <td>@item.Street</td>
                                <td>@item.City</td>
                                <td>@item.State</td>
                                <td>@item.ZipCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">Name</th>
                            <th>Price</th>
                            <th>Color</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Color</td>
                                <td>@item.Category</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">Name</th>
                            <th>CatchPhrase</th>
                            <th>BsPhrase</th>
                            <th>Suffix</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in companies)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.CatchPhrase</td>
                                <td>@item.BsPhrase</td>
                                <td>@item.Suffix</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">Past</th>
                            <th>Future</th>
                            <th>Recent</th>
                            <th>Soon</th>
                            <th>RandomMonth</th>
                            <th>RandomWeekday</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dates)
                        {
                            <tr>
                                <td>@item.Past</td>
                                <td>@item.Future</td>
                                <td>@item.Recent</td>
                                <td>@item.Soon</td>
                                <td>@item.RandomMonth</td>
                                <td>@item.RandomWeekday</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="vert-tabs-webservers" role="tabpanel" aria-labelledby="vert-tabs-webservers-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">Domain</th>
                            <th>IpAddress</th>
                            <th>Ipv6Address</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in webServers)
                        {
                            <tr>
                                <td>@item.Domain</td>
                                <td>@item.IpAddress</td>
                                <td>@item.Ipv6Address</td>
                                <td>@item.AdminLogin.Email</td>
                                <td>@item.AdminLogin.Username</td>
                                <td>@item.AdminLogin.Password</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="vert-tabs-finance" role="tabpanel" aria-labelledby="vert-tabs-finance-tab">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">Account Number</th>
                            <th>Routing Number</th>
                            <th>Iban</th>
                            <th>Total Amount</th>
                            <th>CreditCard Number</th>
                            <th>Bitcoin Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in paymentAccounts)
                        {
                            <tr>
                                <td>@item.AccountNumber</td>
                                <td>@item.RoutingNumber</td>
                                <td>@item.Iban</td>
                                <td>@item.TotalAmount</td>
                                <td>@item.CreditCardNumber</td>
                                <td>@item.BitcoinAddress</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Address> addresses;
    private List<Product> products;
    private List<Company> companies;
    private List<Dates> dates;
    private List<PaymentAccount> paymentAccounts;
    private List<WebServer> webServers;

    protected override async Task OnInitializedAsync()
    {
        addresses = await mockupDatasets.TestAddress();
        products = await mockupDatasets.TestCommerce();
        companies = await mockupDatasets.TestCompany();
        dates = await mockupDatasets.TestDates();
        paymentAccounts = await mockupDatasets.TestFinance();
        webServers = await mockupDatasets.TestInternet();
    }
}
